@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');

:root{
--azul-forte: #2b2d42ff;
--cinza: #8d99aeff;
--branco: #edf2f4ff;
--vermelho: #ef233cff;
--titulo:  "Bitcount Prop Single Ink", system-ui;
--texto: "Alan Sans", sans-serif;
}

body{
    background-color: var(--azul-forte);
    font-family: var(--texto);
    display: flex;
    align-items: center ;
    justify-content: center;
    margin: 0;
    padding: 0;
}